
:root {
  --chat-nav-bg :#161b1c;

}

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  
}
